nav {
    font-size: 20px;
    background-color: #bfd4ea;
    color: #000;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; 
    width: 100%; 
    top: 0; 
    left: 0; 
    z-index: 1000;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
}

.nav-left {
    padding-left: 50%;
}

.nav-right {
    padding-right: 20px;
}

.nav-left a, .nav-right a {
    color: #0575f5;
    text-decoration: none;
    display: block;
    padding: 5px;
    height: 100%;
    margin-right: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.nav-left a:hover, .nav-right a:hover {
    background-color: #1178ef;
    color: #fff;
}

.theme-toggle button {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 15px;
    transition: background-color 0.3s ease;
}

.theme-toggle button:hover {
    background-color: #555;
}
main {
    position: relative;
    top: 60px;
    opacity: 0.8;
}
main {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 900px;
    margin: 20px auto;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    position: relative;
    margin-bottom: 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.folder, .file {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    position: relative; /* Ensure the button is positioned relative to the list item */
}

.file:hover, .folder:hover {
    background-color: #1178ef !important;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2) !important;
    transform: translateY(-2px) !important;
}

.folder a, .file a {
    text-decoration: none;
    color: #333;
    flex-grow: 1;
    padding-right: 70px; /* Space for the download button */
}

.icon-img {
    width: 48px;
    height: 48px;
    margin-right: 15px;
}

.download-btn {
    position: absolute;
    right: 10px; /* Position the button on the right side */
    background-color: #209cfb;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    /* Center the button vertically */
    top: 50%;
    transform: translateY(-50%);
}

.download-btn:hover {
    background-color: #007bff;
}

/* Light Theme */
body.light-theme {
    background-color: #e4e4e4;
    color: #333;
}
main.light-theme {
    background-color: #fff;
}
/* ul.light-theme{
    background-color: #acaaaa;
    color: #333;
}
li.light-theme{
    background-color: #fff;
    color: #333;
} */

/* Dark Theme */
body.dark-theme {
    background-color: #2c3e50;
    color: #333;
}
nav.dark-theme {
    background-color: #34495e;
}
/* ul.dark-theme{
    background-color: #7a7b7c;
    color: #fff;
}
li.dark-theme{
    background-color: #34495e;
    color: #fff;
} */
main.dark-theme {
    background-color: #34495e;
    color: #333;
}

/* 图标样式 */
.sun {
    display: inline;
}
.moon {
    display: none;
}
.dark-theme .sun {
    display: none;
}
.dark-theme .moon {
    display: inline;
}

.box {
    display: flex;
    justify-content: flex-end; 
    gap: 10px; 
}

form input[type="text"] {
    padding: 10px; 
    font-size: 16px; 
    width: 250px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
}


form input[type="password"] {
    padding: 10px; 
    font-size: 16px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Button Styles */
.newFolder, .upload {
    background-color: #209cfb;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    font-size: 16px;
    text-decoration: none; /* Remove underline from <a> tag */
    display: inline-block; /* Ensure <a> tag behaves like a button */
    text-align: center; /* Center text inside <a> tag */
}

.newFolder:hover, .upload:hover {
    background-color: #1178ef;
}

/* MP3 File List */
.mp3-list {
    padding: 0;
    margin: 0;
    color: #000;
}

.mp3-list li {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ffffff; 
    border: 1px solid #ddd; /* Border color */
    border-radius: 5px; /* Border radius */
    cursor: pointer; /* Cursor pointer */
    transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease; /* Transition effects */
}

.mp3-list li:hover {
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transform: translateY(-2px); 
}

#audioPlayer{
    width: 100%;
}


/* login */
.login-container {
    max-width: 400px;
    margin: 80px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(112, 112, 112, 0.1);
}
.dark-theme .login-container {
    background-color: #2c3e50;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

/* Login Form */
.light-theme h2{    
    color: #000;
}
.dark-theme h2{
    color: #fff;
}
.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}
.login-container label {
    display: block;
    margin-bottom: 5px;
}
.login-container input[type="text"],
.login-container input[type="password"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.login-container button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #2980b9;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.login-container button[type="submit"]:hover {
    background-color: #3498db;
}
.dark-theme .login-container input[type="text"],
.dark-theme .login-container input[type="password"] {
    background-color: #444444;
    color: #ffffff;
    border: 1px solid #555555;
}
.dark-theme .login-container button[type="submit"] {
    background-color: #1abc9c;
}
.dark-theme .login-container button[type="submit"]:hover {
    background-color: #16a085;
}

/* Message */
.message {
    text-align: center;
    margin-bottom: 15px;
    color: red;
}

/* footer */
.footer {
    /* background-color: #f1f1f1; */
    color: #333;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}